<div class="control-buttons">
    <mat-icon
        (click)="!isLoading && shuffle.emit()"
        [class.disabled]="isLoading"
        [style.color]="shuffleEnabled ? 'rgb(158, 94, 242)' : 'white'"
        class="interaction-button"
    >
        shuffle
    </mat-icon>

    <mat-icon (click)="!isLoading && back.emit()" [class.disabled]="isLoading" class="interaction-button">skip_previous</mat-icon>
    <mat-icon (click)="playPause.emit()" class="play-pause" class="play-pause">{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
    <mat-icon (click)="!isLoading && next.emit()" [class.disabled]="isLoading" class="interaction-button">skip_next</mat-icon>

    <mat-icon
        (click)="!isLoading && repeat.emit()"
        [class.disabled]="isLoading"
        [style.color]="repeatEnabled ? 'rgb(158, 94, 242)' : 'white'"
        class="interaction-button"
    >
        autorenew
    </mat-icon>
</div>
