:host {
    display: block;
    width: 100%;
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(12px, 8vw, 70px);
}

.interaction-button { transform: scale(1.2); transition: 500ms; }

.interaction-button:hover { transform: scale(1.6); transition: 500ms; }

.play-pause { transform: scale(1.8); transition: 500ms; }
.play-pause:hover { transform: scale(2.4); transition: 500ms; }
