<div class="secondary-controls">
    <a [href]="userExperienceReportUrl" target="_blank" rel="noopener">
        <mat-icon class="icon" matTooltip="view user experience report">description</mat-icon>
    </a>

    <mat-icon class="icon" (click)="openBottomSheet()" matTooltip="select a song" [class.disabled]="getIsLoading()">menu</mat-icon>

    <mat-icon class="icon" (click)="openCustomSnackBar()" matTooltip="adjust audio volume"
        [class.disabled]="!browserSupportsAudioVolumeManipulation">
        volume_up
    </mat-icon>
</div>
