{% extends "handler.html" %}
{% block bodycontent%}
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center">
            <h2>
                whoops! can't find that page
            </h2>
            <br>
        </div>
        <div class="col-4 d-flex justify-content-center"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center">
            <i class="bi bi-search" style='font-size:100px;'></i>
        </div>
        <div class="col-4 d-flex justify-content-center"></div>
    </div>
</div>
{% endblock bodycontent%}
{% block loopback%}
{% endblock loopback%}