{% extends "handler.html" %}
{% block bodycontent%}
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center" style="margin-bottom: 200px;">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center">
            <h2>
                whoops! something's wrong..
            </h2>
            <br>
        </div>
        <div class="col-4 d-flex justify-content-center"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-4 d-flex justify-content-center">
            <i class="bi bi-exclamation-triangle-fill" style='font-size:100px;'></i>
        </div>
        <div class="col-4 d-flex justify-content-center"></div>
    </div>
</div>
{% endblock bodycontent%}
{% block loopback%}
{% endblock loopback%}