{% load static %}
{% load string_formatters %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>
        <div id="root"></div>
        {%for a in audio%}
            <audio id="{{ a.id }}" preload="metadata" class="fc-media" src="{{ a.audio_file_upload }}"></audio>
            <img id="image{{ a.id }}" src="{{ a.image_file_upload }}" style="width: 0%;"></img>
            <!-- REACT APP USES THESE ID'S TO EXTRACT THE IMG ELEMENT THAT CORRESPONDS WITH THE AUDIO ELEMENT -->
        {%endfor%}
        <script type="text/javascript" src="{% static '/js/bundle/main.js' %}"></script>
    </body>
</html>