{% load static %}
{% load string_formatters %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Home</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="{% static 'js/bundle/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bundle/runtime.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bundle/polyfills.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bundle/142.js' %}"></script>
    </body>
</html>