{% load static %}
{% load string_formatters %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'js/bundle/styles.css' %}">
        <title>Home</title>
    </head>
    <body>
        <!-- https://stackoverflow.com/questions/78395678/the-selector-app-root-did-not-match-any-elements-in-angular -->
        <app-root></app-root>
        <script src="https://cdn.jsdelivr.net/npm/zone.js@0.14.6/+esm"></script>
        <script type="module" src="{% static 'js/bundle/runtime.js' %}"></script>
        <script type="module" src="{% static 'js/bundle/polyfills.js' %}"></script>
        <script type="module" src="{% static 'js/bundle/main.js' %}"></script>
    </body>
</html>
