# */15 * * * * root bash -c 'cd /application/getmybeats && source cron/env.cron && source /opt/venvs/getmybeats/bin/activate && python3 manage.py rotate_audio_filename_hashes' > /var/log/cron.log 2>&1

0 4 1 * * root bash -c 'sh /application/getmybeats/GetMyBeatsApp/scripts/ssl/renew.sh' > /var/log/cron.log 2>&1
