
html, body {
    height: 100%;
    background-color: rgb(20, 19, 19);
    color: white;
}

mat-icon {
    cursor: pointer;
}

mat-icon.disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

.interaction-button {  transition: 500ms; }

.interaction-button:hover { transform: scale(1.5); transition: 500ms; }
