
html, body {
    height: 100%;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: 'Ubuntu';
}

mat-icon {
    cursor: pointer;
}

mat-icon.disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

.interaction-button {  transition: 500ms; }

.interaction-button:hover { transform: scale(1.5); transition: 500ms; }

.mat-mdc-slider .mdc-slider__track--active_fill { border-color: #673ab7 !important; }  /* filled portion */

.mat-mdc-slider .mdc-slider__track--inactive { background-color: rgba(255,255,255,0.25) !important; }  /* unfilled portion */

.mat-mdc-slider .mdc-slider__thumb-knob {  /* circular thumb */
    border-radius: 50% !important;

    width: 16px !important;
    height: 16px !important;

    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
