<div class="player">
    <div fxLayout="column" fxLayoutAlign="center center">
        <app-header [hasPlaybackError]="hasPlaybackError"></app-header>
        <div class="backdrop" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon class="headset-backdrop-icon">headset</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <h1 class="songTitle"> {{ title }}</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <h3 class="songArtist"> micah </h3>
        </div>
        <mat-spinner *ngIf="loading" class="progress-spinner"></mat-spinner>
        <div class="control-buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon *ngIf="shuffleEnabled" class="shuffle-icon-enabled" (click)="onClickShuffle()" fxFlex="10">shuffle</mat-icon>
            <mat-icon  *ngIf="!shuffleEnabled" class="shuffle-icon-disabled" (click)="onClickShuffle()" fxFlex="10">shuffle</mat-icon>

            <mat-icon [attr.aria-disabled]="loading" [ngClass]="{'disabled-ui-element': loading}" class="left-control-arrow" (click)="onPrevious()" fxFlex="15">skip_previous</mat-icon>
            <mat-icon *ngIf="paused"  class="play-pause-control" (click)="onPlayPauseClick()" fxFlex="40">play_arrow</mat-icon>
            <mat-icon *ngIf="!paused" class="play-pause-control" (click)="onPlayPauseClick()" fxFlex="40">pause</mat-icon>
            <mat-icon [attr.aria-disabled]="loading" [ngClass]="{'disabled-ui-element': loading}" class="right-control-arrow" (click)="onNext()" fxFlex="10">skip_next</mat-icon>

            <mat-icon *ngIf="repeatEnabled" class="repeat-icon-enabled" (click)="onClickRepeat()" fxFlex="10">autorenew</mat-icon>
            <mat-icon *ngIf="!repeatEnabled" class="repeat-icon-disabled" (click)="onClickRepeat()" fxFlex="10">autorenew</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="current-time-text">{{ currentTime }}&nbsp;&nbsp;</p>
            </div>
            <mat-slider (input)="onSliderChange($event)" step="0.005" min="0" max="{{ duration }}" class="slider">
                <input matSliderThumb [(ngModel)]="sliderValue"/>
            </mat-slider>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="duration-time-text">&nbsp;{{ musicLength }}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <!-- <mat-slider (input)="onSliderChange($event)" step="0.005" min="0" max="100" class="slider">
                <input matSliderThumb [(ngModel)]="sliderValue"/>
            </mat-slider> -->
            <mat-icon class="bottom-sheet-expand-icon" (click)="openBottomSheet()">menu</mat-icon>
        </div>
    </div>
</div>
