<div class="player">
    <div fxLayout="column" fxLayoutAlign="center center">
        <app-header [hasPlaybackError]="hasPlaybackError"></app-header>
        <div id="backdrop" *ngIf="!getArtworkIsValid()" class="backdrop-without-image" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon class="headset-backdrop-icon">headset</mat-icon>
        </div>
        <div id="backdrop" *ngIf="getArtworkIsValid()" class="backdrop-with-image" fxLayout="row" fxLayoutAlign="space-evenly center" [style.--backdrop-image-url]="'url(' + getArtworkImageSrc() + ')'"></div>
        <mat-progress-bar class="progress-bar" *ngIf="getIsLoading()"  mode="determinate" [value]="getDownloadProgress()"></mat-progress-bar>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <h1 class="songTitle"> {{ getTitle() }}</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <h3 class="songArtist"> micah </h3>
        </div>
        <mat-spinner *ngIf="getIsLoading()" class="progress-spinner"></mat-spinner>
        <div class="control-buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon *ngIf="shuffleEnabled" class="shuffle-icon-enabled" (click)="onClickShuffle()" fxFlex="10">shuffle</mat-icon>
            <mat-icon  *ngIf="!shuffleEnabled" class="shuffle-icon-disabled" (click)="onClickShuffle()" fxFlex="10">shuffle</mat-icon>

            <mat-icon [attr.aria-disabled]="getIsLoading()" [ngClass]="{'disabled-ui-element': getIsLoading()}" class="left-control-arrow" (click)="onPrevious()" fxFlex="15">skip_previous</mat-icon>
            <mat-icon *ngIf="!isPlaying"  class="play-pause-control" (click)="togglePlay()" fxFlex="40">play_arrow</mat-icon>
            <mat-icon *ngIf="isPlaying" class="play-pause-control" (click)="togglePlay()" fxFlex="40">pause</mat-icon>
            <mat-icon [attr.aria-disabled]="getIsLoading()" [ngClass]="{'disabled-ui-element': getIsLoading()}" class="right-control-arrow" (click)="onNext(this.userHasInteractedWithUI ? true : false)" fxFlex="10">skip_next</mat-icon>

            <mat-icon *ngIf="repeatEnabled" class="repeat-icon-enabled" (click)="onClickRepeat()" fxFlex="10">autorenew</mat-icon>
            <mat-icon *ngIf="!repeatEnabled" class="repeat-icon-disabled" (click)="onClickRepeat()" fxFlex="10">autorenew</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="current-time-text">{{ currentTimeHumanReadable }}&nbsp;&nbsp;</p>
            </div>
            <mat-slider (input)="onSeek($event)" step="0.005" min="0" [max]="duration" class="slider">
                <input matSliderThumb [value]="currentTime"/>
            </mat-slider>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p class="duration-time-text">&nbsp;{{ durationHumanReadable }}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="bottom-div">
            <div fxLayout="column">
                <a href="userExperienceReportUrl" target="_blank">
                    <mat-icon class="ux-writeup-navigation-icon" matTooltip="view user experience report">description</mat-icon>
                </a>
            </div>
            <div fxLayout="column">
                <mat-icon class="bottom-sheet-expand-icon" (click)="openBottomSheet()" matTooltip="select a song">menu</mat-icon>
            </div>
            <div fxLayout="column">
                <mat-icon class="volume-up-icon" (click)="openCustomSnackBar()" matTooltip="adjust audio volume" [ngClass]="{'disabled-icon':!browserSupportsAudioVolumeManipulation}">volume_up</mat-icon>
            </div>
        </div>
    </div>
</div>
