.player {
    /* border: 1px solid red; */
    width: 75vw;
    height: 50vh;
    padding-top: 5vh;
}

.backdrop {
    /* border: 1px solid red; */
    width: 60vw;
    height: 35vh;
}

.backdrop img{
    /* border: 1px solid red; */
    width: 60vw;
    height: auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}