.songTitle { color: white; }
.songArtist { color: white; }
.slider { width: 40vw; margin-top: 3vh; margin-bottom: 1vh; }
.control-buttons { margin-top: 7vh; }
.current-time-text { color: white; }
.duration-time-text { color: white; }
.bottom-sheet-expand-icon { color: white; transform: scale(2); }
.right-control-arrow:hover { cursor: pointer; transform: scale(2); transition: 0.5s; }
.left-control-arrow:hover { cursor: pointer; transform: scale(2); transition: 0.5s; color: white; }
.play-pause-control { cursor: pointer; transform: scale(2.7); transition: 0.5s; margin-left: 5vw; margin-right: 5vw; color: white; }
.play-pause-control:hover { cursor: pointer; transform: scale(); margin-left: 5vw; margin-right: 5vw; transition: 0.5s; }
.headset-backdrop-icon { color: rgb(53, 55, 55); transform: scale(5); }
.left-control-arrow { cursor: pointer; transform: scale(2.3); transition: 0.5s; color: white; }
.right-control-arrow { cursor: pointer; transform: scale(2.3); transition: 0.5s; color: white; }
.progress-spinner { z-index: 1; position: absolute; top: 50vh; transform: scale(1.5); opacity: 0.3; }

.backdrop {
    margin-top: 10vh;
    width: 40vw;
    height: 35vh;
    background:linear-gradient(rgb(54, 53, 53), rgb(193, 203, 200));
}

.repeat-icon-enabled { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s; margin-left: 10vh; cursor: pointer; }
.repeat-icon-enabled:hover { color: rgb(158, 94, 242); transform: scale(1.7); margin-left: 10vh; transition: 1s; cursor: pointer; }
.repeat-icon-disabled { color: white; transform: scale(1.3); transition: 1s; margin-left: 10vh; cursor: pointer; }
.repeat-icon-disabled:hover { color: white; transform: scale(1.7); margin-left: 10vh; transition: 1s; cursor: pointer; }

.shuffle-icon-enabled { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s; margin-right: 10vh; cursor: pointer; }
.shuffle-icon-enabled:hover { color: rgb(158, 94, 242); transform: scale(1.7); margin-right: 10vh; transition: 1s; cursor: pointer; }
.shuffle-icon-disabled { color: white; transform: scale(1.3); transition: 1s; margin-right: 10vh; cursor: pointer; }
.shuffle-icon-disabled:hover { color: white; transform: scale(1.7); margin-right: 10vh; transition: 1s; cursor: pointer; }


@media (max-width: 750px) {
    .current-time-text { color: white; }
    .duration-time-text { color: white; }
    .bottom-sheet-expand-icon { color: white; transform: scale(1.5); }
    .slider { width: 70vw; margin-top: 3vh; margin-bottom: 1vh; }
    .left-control-arrow { cursor: pointer; transform: scale(1.7); transition: 0.5s; color: white; }
    .right-control-arrow { cursor: pointer; transform: scale(1.7); transition: 0.5s; color: white; }
    .progress-spinner { z-index: 1; position: absolute; top: 51vh; opacity: 0.3; }
    .play-pause-control { cursor: pointer; transform: scale(2.7); transition: 0.5s; margin-left: 10vw; margin-right: 10vw; color: white; }
    .play-pause-control:hover { cursor: pointer; transform: scale(); transition: 0.5s; margin-left: 10vw; margin-right: 10vw; }

    .backdrop {
        margin-top: 5vh; width: 70vw; height: 40vh;
        background:linear-gradient(rgb(54, 53, 53), rgb(193, 203, 200));
    }

    .repeat-icon-enabled { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s;cursor: pointer; }
    .repeat-icon-enabled:hover { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s; cursor: pointer; }
    .repeat-icon-disabled { color: white; transform: scale(1.0); transition: 1s; cursor: pointer; }
    .repeat-icon-disabled:hover { color: white; transform: scale(1.0); transition: 1s; cursor: pointer; }
    
    .shuffle-icon-enabled { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s; cursor: pointer; }
    .shuffle-icon-enabled:hover { color: rgb(158, 94, 242); transform: scale(1.5); transition: 1s; cursor: pointer; }
    .shuffle-icon-disabled { color: white; transform: scale(1.0); transition: 1s; cursor: pointer; }
    .shuffle-icon-disabled:hover { color: white; transform: scale(1.0); transition: 1s; cursor: pointer; }    
}
