.control-buttons {
    border: 1px solid blue;
}

.left-control-arrow {
    cursor: pointer;
}

.play-pause-control {
    cursor: pointer;
}

.right-control-arrow {
    cursor: pointer;
}

.control-slider input {
    width: 30vw;
}
